{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo">
            <a href="/">DjangoWebScrapping</a>
        </div>
        <div class="nav-menu">
            <a href="/">HOME</a>
            <a href="/new_search">ABOUT</a>
            <a href="/">FAQ</a>
        </div>
    </nav>
    <main>
        <div class="search">
            <form action="{% url 'new_search' %}" method="post">
                {% csrf_token %}
                <input type="text" name="search" placeholder="What is on your mind today?" autocomplete="off">
                <input type="submit" name="search_button" value="Search">
            </form>
        </div>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        <div class="bottom-left">
            <p>DjangoWebScrapping&reg; 2020</p>
        </div>
        <div class="bottom-right">
            <p>Contact: DjangoWebScrapping@e-mail.com</p>
        </div>
    </footer>
</body>
</html>